<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--==========================IOC======================================-->
    <!--注册dataSource:spring内置连接池-->
    <context:property-placeholder location="jdbc.properties"/>

    <bean id="c3p0DataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///springdatabase"/>
        <property name="username" value="root"/>
        <property name="password" value="338645"/>
    </bean>

    <!--注册dao-->
    <bean id="accountDao" class="com.bjpowernode.dao.impl.AccountDao">
        <property name="dataSource" ref="c3p0DataSource"/>
    </bean>

    <bean id="stockDao" class="com.bjpowernode.dao.impl.StockDao">
        <property name="dataSource" ref="c3p0DataSource"/>
    </bean>

    <!--注册service-->
    <bean id="buyStockService" class="com.bjpowernode.service.impl.BuyStockService3">
        <property name="adao" ref="accountDao"/>
        <property name="sdao" ref="stockDao"/>
    </bean>

    <!--===============================AOP=======================================-->
    <!--spring事务管理：AOP配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="c3p0DataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--这里指定为每一个连接点配置需要使用的事务属性-->
            <tx:method name="open*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="buyStock" isolation="DEFAULT" propagation="REQUIRED"
                       rollback-for="com.bjpowernode.exception.BuyStockException"/>
            <tx:method name="*" rollback-for="com.bjpowernode.exception.BuyStockException"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="myPointCut" expression="execution(* * ..service..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="myPointCut"/>
    </aop:config>

</beans>